.container {
     padding-block: 20px;
}
.mainContainer {
  input {
    border-radius: 30px;
    padding: 10px 300px 10px 40px;
    height: 50px;
    color: #000;
  }
     button {
    padding: 10px 30px;
    font-size: 18px;
    display: flex;
    gap: 5px;
    align-items: center;
  }  
  .loginInp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}


.positions {
    position: relative;
}
  .eye {
    position: absolute;
    color: #000;
    top: 13px;
    font-size: 25px;
    right: 10px;
  }
   .eye:hover {
    display: flex;
    align-items: center;
    justify-content: center;
  background: rgba(128, 128, 128, 0.705);
border-radius: 50px;
  }
  