.container {
  padding-block: 40px;
  .mainContainer {
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
    .cartTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        text-decoration: underline 1.3px;
        &:hover {
          text-decoration: underline 3px;
        }
      }
    }
    .typeClothes {
      border-bottom: 1px solid grey;
      padding-block: 50px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h6 {
        letter-spacing: 1px;
      }
      .quantity {
        padding-left: 170px;
      }
    }

    .cartClothes {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      .cartImage {
        display: flex;
        gap: 40px;
        img {
          width: 100px;
          width: 110px;
          border-radius: 10px;
        }
        .cartNamePr {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .cartCount {
        display: flex;
        align-items: center;
        gap: 20px;
        .counted {
          border-radius: 7px;
          max-width: 150px;
          height: 50px;
          border: 1px solid #000;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          button {
            font-size: 20px;
            border: none;
          }
          h6 {
            font-size: 17px;
          }
        }
      }
    }
  }
}
.blockCart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buyGoods {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  h4 {
    letter-spacing: 2px;
  }
  p {
    font-size: 15px;
  }
  button {
    padding: 10px 50px;
    border: none;
    background: rgba(252, 228, 119, 1);
  }
  span {
    color: #000000b6;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 30px;
  button {
    background: rgba(252, 228, 119, 1);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    letter-spacing: 2px;
  }
}
