.exit {
  position: absolute;
  position: fixed;
  right: 100px;
  font-size: 40px;
  color: #000000b0;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
