.container {
    .mainContainer {
        .contact {
            input:nth-child(2) {
                max-width: 400px;
                width: 100%;
                height: 40px;
                border-radius: 10px;
                padding-left: 20px;
            }
            .check {
                display: flex;
                align-items: center;
                gap: 15px;
                p {
                    font-size: 15px;
                }
            }
        }
    }
}