.container {
  padding-block: 40px;
  .mainContainer {
    display: flex;
    gap: 30px;
    .images {
      display: flex;
      flex-direction: column;
      gap: 20px;
        object-fit: cover;

      .mainImage {
        width: 730px;
        height: 780px;
        object-fit: cover;
      }

      .miniImage {
        width: 300px;
        object-fit: cover;

        height: 300px;
      }
    }
    .title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      .ulTeg {
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          margin-left: 30px;
          padding-left: 20px;
          max-width: 300px;
          list-style: disc;
        }
      }
      a {
        text-decoration: underline;
      }
      h1 {
        max-width: 300px;
      }
      .counted {
        border-radius: 7px;
        max-width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        button {
          font-size: 20px;
          border: none;
        }
        h6 {
          font-size: 17px;
        }
      }
      button:nth-child(6) {
        padding: 10px 90px;
        border: none;
        background: rgba(252, 228, 119, 1);
      }
      button:nth-child(5) {
        padding: 10px 85px;
      }
    }
  }
}
.modal {
  padding: 20px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  border: 1px solid #000;
  gap: 20px;
  .open {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 30px;
    }
    h6 {
      font-size: 14px;
    }
  }
  .modalImg {
    display: flex;
    gap: 10px;
    img {
      max-width: 70px;
      width: 100%;
    }
    h5 {
      font-size: 18px;
      color: #000000c4;
    }
  }

  .btnP {
    display: flex;
    flex-direction: column;
    gap: 6px;
    p {
      text-decoration: underline;
      text-align: center;
    }
    button {
      font-size: 15px;
      letter-spacing: 2px;
      padding: 10px;
    }
    button:nth-child(2) {
      background: rgba(252, 228, 119, 1);
    }
  }
}
