.container {
  padding-block: 20px;
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLogo {
      width: 130px;
    }
    nav {
      position: relative;

      display: flex;
      align-items: center;
      gap: 40px;
      span {
        font-size: 30px;
      }
      .menuBurger {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .mainContainer {
      nav {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          display: none;
        }
        .menuBurger {
          display: block;
        }
      }
    }
  }
}
.userInfo {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .userTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &:hover {
    background: rgba(150, 146, 146, 0.377);
  }
}
.ModalUser {
  position: absolute;
  right: 12px;
  bottom: -70px;
  padding: 7px 14px;
  background: rgb(128, 128, 128);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  p {
    padding: 4px;
    color: white;
    &:hover {
      background: white;
      color: #000;
    }
  }
}
