.container {
  padding-block: 30px;
  .mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    .cardClothes {
        transition: 0.6s;
      display: flex;
      flex-direction: column;
      gap: 15px;
      img {
        width: 270px;
        object-fit: cover;
        height: 270px;
        border-radius: 20px;
      }
      &:hover {
        h3 {
            text-decoration: underline 1.2px;
        }
      
      }
        h2 {
          font-size: 20px;
          letter-spacing: 2px;
        }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        padding: 4px 10px;
        &:hover {
          background: rgba(128, 128, 128, 0.432);
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .container {
    .mainContainer {
      .cardClothes {
        align-items: center;
        img {
          width: 100%;
          height: 10%;
          object-fit: contain;
        }
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 25px;
        }
      }
    }
  }
}
@media (max-width: 475px) {
}
@media (max-width: 350px) {
}
