.container {
    .mainContainer {
        .adminInp {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 20px;
            input {
                max-width: 500px;
                height: 50px;
                width: 100%;
                padding-left: 20px;
                border-radius: 10px;
            }
        }
    }
}