* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 0 80px;
    @media (max-width: 1366px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}
h1 , h2 , h3 , h5 {
  font-weight: 500;
}
h1 {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
}
h2 {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}
h3 {
  font-size: clamp(0.688rem, 0.528rem + 0.8vw, 1.125rem);
}
p {
  font-size: clamp(0.688rem, 0.528rem + 0.8vw, 1.125rem);
  line-height: 32px;
}
 button {
  padding: 10px 18px;
  font-size: clamp(0.688rem, 0.528rem + 0.8vw, 1.125rem);
 border: 1px solid black;
  border-radius: 6px;
 }
h5 {
  font-size: clamp(0.688rem, 0.528rem + 0.8vw, 1.125rem);
}